.rbc-current-time-indicator {
	height: 2px;
}

/* when clicked */
.react-datepicker__time-container {
	width: 100%;
	padding: auto;
	margin: auto;
}
.react-datepicker__time-list {
	padding: 0 0;
	width: 100%;
}

/* Field for day/month/year */
.react-datepicker-wrapper {
	width: 100%;
}
.react-datepicker__input-container {
	width: 100%;
}
.dmyField {
	font-size: 1.2em;
	margin: 3% 0;
	color: red;
	background: #dee1ed;
	border: 1px solid grey;
	width: 30%;
}

/* Field for start time and end time */
.react-datepicker-wrapper {
	width: 100%;
}
.react-datepicker__input-container {
	width: 100%;
}
.timeFields {
	font-size: 1.2em;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid grey;
	color: red;
	background: #dee1ed;
}

.rbc-events-container {
	right: 0 !important;
}

.rbc-today {
	background-color: rgba(240, 236, 236, 0.5);
}

.available {
	background-color: #26c1a2;
	border: none !important;
}

.booked {
	background-color: #ef5651;
	border: none !important;
}

/* event displayed on calendar */
.rbc-event {
	background-color: #353a50;
	border: none !important;
	right: 0;
}

/* primary event label */
/* .rbc-event-label {} */

/* sub header on event */
/* .rbc-event-content {} */
