.highlighted{
  background: #353A50;
  color: #ebebeb;
}

.autocomplete{
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}

.content{
  display: flex;
  justify-content: space-between;
}

.block{
  /* padding: 5px 10px; */
}

.title{
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  /* padding: 5px 10px; */
}

.disabled {
  display: none;
}

.ais-InstantSearch__root{
  /* width: 80%; */
  margin-right: 2%;
}

.title div{
  /* width: 100%; */
  /* padding: 5px 10px; */
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__input {
  width: 100%;
  height: 100%;
  padding: 5% 0 5% 5%;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  /* margin-right: 3%; */
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
  display: block;
  position: absolute;
  width: 100%;
  border: 1px solid #aaa;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #ebebebd5;
  font-family: Raleway, sans-serif;
  font-size: 1em;
  z-index: 2;
  color: #353A50;
  font-weight: 600;
  padding-right: 5%;
  text-align: left;
}

.react-autosuggest__suggestions-list {
  /* margin: 0; */
  /* padding: 0; */
  list-style-type: none;
  color: #353A50;
  padding-left: 5%;

  /* font-weight: 500; */
}

.react-autosuggest__suggestion {
  cursor: pointer;
  /* padding: 10px 20px; */
}

.react-autosuggest__suggestion--focused {
  background-color: #ebebeb;
}

.react-autosuggest__section-title {
  /* padding: 10px 0 0 10px; */
  font-size: 1em;
  color: #ebebeb;
  /* border-top: 1px dashed #ccc; */
}

.react-autosuggest__section-container:first-child .react-autosuggest__section-title {
  /* border-top: 0; */
}